<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.lampa.plugin-server</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/sonomnas/Services/lampa-qbit-downloader/run-plugin-server.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/sonomnas/Services/lampa-qbit-downloader</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/sonomnas/Services/lampa-qbit-downloader/plugin-server.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/sonomnas/Services/lampa-qbit-downloader/plugin-server.err.log</string>
</dict>
</plist>
